 section{
	padding-top: 70px;
}

p{
	padding-top: 15px;
	font-size: 21px;
	font-weight: 400;
	font-family: 'Roboto';
}

 .introclass{ 
  background-image:url(../img/bg.jpg) ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  color: white;
}

.navbar-default {
        background: transparent;
        border: transparent;
        font-family: simplifica;
        font-size: 30px;
    }

.intro{
  position: absolute;
  left:0;
  right:0;
  bottom:20%;
}

h1,h2{
	font-weight: bold;
	color: white;
}

#profilepic{
	width: 150px;
	height: 150px;	
	border-radius: 100px;
	}

#gitpic{
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50px;
	margin:10px;
}

#skillpic{
	width: 110px;
	height: 110px;
	/*border-radius: 100px;*/
	padding:10px;
	}

.proj1,.proj2{
	padding: 50px;
}

.skills  { 			   	
   color: black;
   background: url(../img/skillbg.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
 }

 .projects { 	
   color: black;
   background-color: #f8f8f8; 
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
 }
 .projects h2{
 	color: midnightblue;
 }

.skills h2{
	font-family: 'Roboto';
	color: black;
}

.skills li{	
	list-style: none;
	font-family: 'Tangerine', serif;
	font-size: 20px;
}	

.skillrow{
	margin-top: 100px;
	margin-bottom: 50px;
}

#Contact h2{
	color: black;

}

#Contact{
	background-color: darkgray ; 
}
